:root {
  --container: 1200px;
}

.container {
  width: 100vw;
  padding: 0 calc((100vw - var(--container)) / 2);
}

html {
  overflow: hidden;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #38004675;
  z-index: -1;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.main {
  overflow: hidden;
  height: 100%;
}

.neon-border {
  position: relative;
  border: 3px solid #f94bfff6;
  -webkit-box-shadow: 0px 0px 30px 10px #f94bff33;
  -moz-box-shadow: 0px 0px 30px 10px #f94bff33;
  box-shadow: 0px 0px 30px 10px #f94bff33;
}

.neon-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 1px 1px #ffffff;
  -moz-box-shadow: 0px 0px 1px 1px#ffffff;
  box-shadow: 0px 0px 1px 1px #ffffff;
}

.locking {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 20;
}

.locking-active {
  display: inherit;
}
