.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 20px 40px;
  background: linear-gradient(90deg, #00000000 10%, #511b53 40%, #00000000 90%);
}

.header--logo {
  position: relative;
  display: inline-block;
  border: 3px solid #f94bfff6;
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 30px 10px #f94bff33;
  -moz-box-shadow: 0px 0px 30px 10px #f94bff33;
  box-shadow: 0px 0px 30px 10px #f94bff33;
  animation: flickering 2s infinite;
}

.header--logo ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 1px 1px #ffffff;
  -moz-box-shadow: 0px 0px 1px 1px#ffffff;
  box-shadow: 0px 0px 1px 1px #ffffff;
}

.header--logo_text {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  -webkit-text-stroke: 3px #f94bff33;
  text-stroke: 3px #f94bff33;
  color: white;
}

.header .left {
  text-align: end;
  animation: flickering 3s infinite;
}

.header .center {
  animation: flickering2 2s infinite;
  display: none;
}

.header .right {
  animation: flickering2 2.5s infinite;
}
